@import '../../fonts/index.css';

:root {
    --common-white: #ffffff;

    --container-max-width: 1200px;

}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

body, html {
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto', sans-serif;
    line-height: 1.2;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.d-inline-block {
    display: inline-block;
}

.flex-spacer {
    flex: 1;
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
}
