.popper-content-wrapper {
    box-shadow: 0 1px 5rem 0 rgb(0 0 0 / 20%);
    border-radius: 0.2rem;
    background-color: var(--common-white);
    display: none;

    &.show {
        display: block;
    }

    &[data-show] {
        display: block;
    }
}

.popper-content {
    box-shadow: 0 1px 5rem 0 rgb(0 0 0 / 20%);
    border-radius: 0.2rem;
    overflow: hidden;
}

.popper-arrow,
.popper-arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    background: inherit;
}

.popper-arrow {
    visibility: hidden;
}

.popper-arrow::before {
    visibility: visible;
    content: '';
    transform: rotate(45deg);
}

.popper-content-wrapper[data-popper-placement^='top']>.popper-arrow {
    bottom: -4px;
}

.popper-content-wrapper[data-popper-placement^='bottom']>.popper-arrow {
    top: -4px;
}

.popper-content-wrapper[data-popper-placement^='left']>.popper-arrow {
    right: -4px;
}

.popper-content-wrapper[data-popper-placement^='right']>.popper-arrow {
    left: -4px;
}