@import '../../utils/scss/functions';

.default-header-wrapper {
    background: linear-gradient(-180deg, #f53d2d, #f63);

    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
}

// Navbar
.navbar-item-group {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.4rem;
    color: var(--common-white);
}

.navbar-item {
    color: var(--common-white);
    font-size: 1.4rem;
    font-weight: 300;
    text-decoration: none;
    padding: 0.4rem;
    display: flex;
    align-items: center;

    &.link,
    &.hoverable {
        &:hover {
            color: white-with-op(0.7);
        }
    }

    &.hoverable {
        cursor: pointer;
    }

    &.left-seperator {
        margin-left: 1rem;
        position: relative;

        &::after {
            content: '';
            height: 1.5rem;
            position: absolute;
            left: -0.5rem;
            border-left: 1px solid white-with-op(0.22);
            border-right: 1px solid white-with-op(0.22);
        }
    }

    &.right-seperator {
        margin-left: 1rem;
        position: relative;

        &::after {
            content: '';
            height: 1.5rem;
            position: absolute;
            right: -0.5rem;
            border-left: 1px solid white-with-op(0.22);
            border-right: 1px solid white-with-op(0.22);
        }
    }
}

.navbar-item-start-icon {
    margin-right: 5px;
}

.navbar-item-end-icon {
    margin-left: 5px;
}

.navbar-icon {
    width: 1.6rem;
    height: 1.6rem;
    margin-right: 1rem;
}

// notification
.notification-wrapper {
    width: 40rem;
    background-color: var(--common-white);
}

.notification-placeholder-wrapper {
    height: 35rem;
}

.notification-placeholder-image-wrapper {
    width: 100%;
    height: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification-placeholder-text {
    color: black-with-op(0.8);
    font-size: 1.4rem;
    margin: 2rem 0 0 0;
}

.notification-placeholder-image {
    object-fit: contain;
    width: 10rem;
    height: 10rem;
}

.notification-placeholder-btn {
    color: black-with-op(0.8);
    height: calc(35rem - 31rem);
    width: 50%;
    background-color: #f5f5f5;
    border: 0;

    &:hover {
        color: var(--color-primary);
        background-color: #e8e8e8;
    }
}

.notification-placeholder-btn-text {
    color: inherit;
    font-size: 1.4rem;
}

.notification-box-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    color: black-with-op(0.26);
    font-size: 1.4rem;
    text-transform: capitalize;
    user-select: none;
}

.notification-box-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    background-color: #FCFCFC;
    color: black-with-op(0.8);
    font-size: 1.4rem;
    text-decoration: none;

    &:hover {
        background-color: #FAFAFA;
    }
}

// notification-item
.notification-item {
    display: flex;
    padding: 0.8rem 1rem;
    text-decoration: none;
    cursor: pointer;
    user-select: none;

    &:hover {
        background-color: #F8F8F8;
    }

    &:not(:visited) {
        background-color: #FFF2EE;
    }
}

.notification-item-img-wrapper {
    display: flex;
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    margin-right: 0.5rem;
}

.notification-item-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.notification-item-content {
    flex-grow: 1;
    margin-right: 1rem;
    word-wrap: break-word;
}

.notification-item-title {
    display: block;
    margin-bottom: 0.5rem;
    color: black-with-op(0.8);
    font-size: 1.4rem;
    overflow-wrap: break-word;
}

.notification-item-description {
    display: block;
    margin-bottom: 0.5rem;
    color: black-with-op(0.54);
    font-size: 1.2rem;
    line-height: 1.5rem;
    overflow-wrap: break-word;
}

.notification-item-banner {
    
}

// language box
.language-box-wrapper {
    width: 20rem;
}

.language-box-button {
    display: block;
    width: 100%;
    text-align: left;
    color: black-with-op(0.87);
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1rem;
    border: 0;
    background-color: var(--common-white);

    &:hover {
        color: var(--color-primary);
    }
}

//download box
.download-box-wrapper {
    width: 18rem;
    padding: 2px;
}

.download-box-qr {
    width: 18rem;
    height: 18rem;
}

.download-box-apps-wrapper {
    width: 15rem;
    padding: 0 15px 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.download-box-apps{
    width: 7rem;
    height: 14.875px;
    margin-top: 0.5rem;
}

// user profile
.navbar-avatar {
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid black-with-op(0.09);
    border-radius: 50%;
}

.navbar-username {
    max-width: 15rem;
    overflow: hidden;
    padding-left: 5px;
}

.account-option-wrapper {
    width: 15rem;
}

.account-option-item {
    display: flex;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 0 1.5rem;
    color: black-with-op(0.87);
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
        background-color: #fafafa;
        color: #00bfa5;
    }
}

// end of navbar

.header-with-search {
    display: flex;
    height: 8.5rem;
    padding: 1.6rem 0 1rem 0;

}

.header-logo-wrapper {
    height: 100%;
    color: var(--common-white);
    padding-right: 4rem;
}

.header-logo {
    display: block;
    height: 50px;
    width: 162px;
    color: inherit;
    fill: currentColor;
    padding: 2px;
    border-radius: 2px;
    margin: -2px;
    box-sizing: content-box;
}

.header-search-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 840px;
}

// searchbar
.searchbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 4rem;
    padding: 0.3rem;
    border-radius: 2px;
    background-color: var(--common-white);
}

.searchbar-form {
    display: flex;
    flex: 1;
}

.searchbar-input {
    display: flex;
    flex: 1;
    color: black-with-op(0.8);
    font-size: 1.4rem;
    padding: 0;
    border: 0;
    outline: 0;
    margin: 0 1rem;
}

.searchbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    min-width: 60px;
    max-width: 190px;
    color: var(--common-white);
    padding: 0 15px;
    border-radius: 2px;
    border: 0;
    outline: 0;
    background-color: #fb5533;
    box-sizing: border-box;
    box-shadow: 0 1px 1px 0 black-with-op(0.09);

    &:hover {
        background-color: #fb6445;
    }
}

.hint-wrapper {
    width: 754px;
    z-index: 600;
}

.hint {
    display: block;
    color: black-with-op(0.8);
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        background-color: #FAFAFA;
    }
}

.hint-prefill {
    display: flex;
    align-items: center;
    padding-right: 15px;

    img {
        margin-left: auto;
    }
}

.hint-text {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header-suggestion-wrapper {

}

.header-suggestion-box {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2.4rem;
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 2.4rem;
    margin-top: 0.3rem;
    overflow-y: clip;
}

.header-suggestion {
    display: block;
    height: 1.4rem;
    color: white-with-op(0.9);
    line-height: 1.4rem;
    margin: 0.5rem 0;
    margin-left: 13px;
    overflow: visible;
    white-space: nowrap;
    background-color: transparent;

    &:visited {
        color: white-with-op(0.9);
    }

    &:first-child {
        margin-left: 0;
    }
}

// cart section 
.header-cart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: var(--common-white);
    padding-bottom: 5px;
    margin: 0 10px;
}

.header-cart-wrapper {
    display: block;
    position: relative;
    height: 100%;
    overflow: visible;
}

.header-cart-icon {
    display: inline-block;
    width: 26px;
    height: 26px;
    fill: currentColor;
    stroke: currentColor;
}

.header-cart-number-badge {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
    min-width: 11px;
    height: 1.6rem;
    color: var(--color-primary);
    line-height: 16.8px;
    text-align: center;
    padding: 0 0.5rem;
    border: 0.2rem solid var(--color-primary);
    border-radius: 4.4rem;
    background-color: var(--common-white);
    box-sizing: content-box;
}

.header-cart-content-wrapper {
    width: 40rem;
}

.header-cart-content-title {
   display: flex;
   align-items: center;
   height: 4rem;
   color: black-with-op(0.26);
   text-transform: capitalize;
   padding-left: 1rem;
}

.header-cart-item-wrapper {
    display: flex;
    width: 100%;
    padding: 1rem;

    &:hover {
        background-color: #F8F8F8;
    }
}

.header-cart-item-banner {
    flex-shrink: 0;
    width: 4rem;
    height: 4rem;
    border: 1px solid black-with-op(0.09);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header-cart-item-content {
    flex: 1;
    color: black-with-op(0.8);
    margin-left: 1rem;
    overflow: hidden;
}

.header-cart-item-name {  
    font-weight: 500;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    span {
        color: var(--color-primary);
        font-size: 1rem;
        line-height: 1.6rem;
        padding: 0 1px;
        border: 1px solid;
        border-radius: 2px;
        margin-right: 0.5rem;
    }
}

.header-cart-item-price {
    flex-shrink: 0;
    color: var(--color-primary);
    margin-left: 4rem;
}

.header-cart-footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: calc(4rem + 1rem * 2);
    font-size: 1.2rem;
    line-height: 4rem;
    text-align: center;
    padding: 1rem;
    background-color: #FDFDFD;
}

.header-cart-footer-btn {
    height: 34px;
    min-width: 60px;
    padding: 0 15px;
}

// blank header
.blank-header-wrapper {
    display: flex;
    align-items: center;
    height: 84px;
    box-shadow: 0 6px 6px black-with-op(0.06);
}

.blank-header-logo-wrapper {
    height: 100%;
    color: var(--color-primary);
}

.blank-header-logo {
    display: block;
    height: 42px;
    width: 19rem;
    color: inherit;
    fill: currentColor;
    margin-top: -10px;
    margin-right: -18px;
}

.blank-header-title {
    display: block;
    color: #222222;
    font-size: 2.4rem;
    text-transform: capitalize;
}

.blank-header-help-link {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-right: 15px;

    &:visited {
        color: var(--color-primary);
    }
}